#home {
  background-image: url('../../files/logos/backImage.png');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#homeHead {
  position: absolute;
  left: 70px;
  top: 10px;
  width: calc(100% - 140px);
  height: 100px;
}