#experiences {
  position: absolute;
  left: 70px;
  top: 10px;
  width: calc(50% - 70px);
  /* height: 100%; */
  background: #F9F9F9;
}

#next-page-experiences{
  justify-content: space-between;
  display: flex;
  margin-top: 8%;
  margin-bottom: 2%;
}

#show-resume {
  /* position: absolute; */
  display: flex;
  width: 50%;
  height: 100%;
}